In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import HiveContext

In [2]:
#Create a spark session
spark = SparkSession.builder \
.appName("ReadingFromHive") \
.master("local") \
.enableHiveSupport() \
.getOrCreate()

In [3]:
df = spark.sql("select * from fish_data")

In [4]:
df.show(5)

+-------+------+-------+-------+-------+-------+------+
|species|weight|length1|length2|length3| height| width|
+-------+------+-------+-------+-------+-------+------+
|Species|  null|   null|   null|   null|   null|  null|
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|
+-------+------+-------+-------+-------+-------+------+
only showing top 5 rows

In [7]:
df = spark.sql("select * from fish_data where Species is not null")

In [8]:
df.show(5)

+-------+------+-------+-------+-------+-------+------+
|species|weight|length1|length2|length3| height| width|
+-------+------+-------+-------+-------+-------+------+
|Species|  null|   null|   null|   null|   null|  null|
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|
+-------+------+-------+-------+-------+-------+------+
only showing top 5 rows